<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" /> 
    <title>ログイン | NEC Direct</title>
    <script src="https://m1-nec.static.pub/test/tool.js"></script>
    <script>
        let $ = fe_core_tool.$;
        fe_core_tool.error_tool.init();
    </script>
    <link rel="stylesheet" href="assstyle.css">
    <script src="https://m1-nec.static.pub/pub_asset/js/core/aaaa.js"></script>
</head>
<body>
    <img src="a.png" alt="">

    <input type="button" id="btn1" value="send" />
</body>
</html>
<script>
    
</script>